<div style="width: 100%; height: 250px; overflow: auto; white-space: nowrap; font-size: 14px">
    <ul class="list-unstyled list-inline" id="photos">
        <li ng-repeat="item in images">
            <img id="{{item.Id}}" ng-click="sendDescription(item)" select-image load-image class="item-img" alt="Empty" />
        </li>
    </ul>
</div>
