@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"><img id="blah" class="hidden" src="#" alt="Uploaded Image" /></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
    </div>
</div>